.subsection {
    background-color: #0d161d;
    text-align: left;
    color: #fff;
    padding: 60px 0 80px;
    box-shadow: 0 -15px 20px 5px #0d161d;
}

.subsectionContent h1, p {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 1.8;
}

.subsection h1 {
    font-weight: 550;
}

.subsectionContent, .subsectionVideo {
    flex-basis: calc(50% - 18px);
}

.horizontal {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 768px) {
    .horizontal {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    .subsection {
        padding: 0;
    }

    
}