.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.section img {
    width: 200px;
}

.profileHeader {
    text-transform: uppercase;
    margin-bottom:20px;
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .section {
        display: flex;
        flex-direction: column;
    }
}