.careerItem {
    border-top: 1px solid #dfdfdf;
    line-height: 1.5;
    padding: 1.35em 0;
}

.careerItem:nth-child(8),
.careerItem:nth-child(7) {
    border-bottom: 1px solid #dfdfdf;
}

.careerItem p, h3 {
    line-height: 1.5;
    font-weight: 200;
}

.careerItem h3 {
    font-weight: 400;
    font-size: 1.4rem;
}

.careerItem a {
    text-decoration: none;
    color: #78b0c7;
}

@media screen and (min-width: 480px) {
    .careerItem {
        flex-basis: calc(50% - 18px);
    }
}

@media screen and (max-width: 768px) {
    .careerItem {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin: auto;
    }
}