.profileItem {
    display: flex;
    flex-direction: column;
    background: #d9d9d9;
    padding: 10px;
    max-height: 500px;
    height: 100%;
    text-align: center;
    transition: 0.2s ease-in-out;
    filter: drop-shadow(0 0 0.1rem rgb(146, 146, 146));
}

.profileItem h2 {
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 10px;
}

.profileItem:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.profileItem img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.imageDiv {
    margin: auto;
}