@font-face {
    font-family: 'Eurostile';
    src: url('/fonts/font.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  /* @font-face {
    font-family: 'Open Sans';
    src: url('/fonts/font-sans.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
   */