.imageSection {
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    position: relative;
    display: flex;
}

.imageSection::before {
    background: #0000003a;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.optionalChild {

    display: flex;
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    margin-top: auto;
    color: #fff;
}

.optionalChild h3 {
    font-size: 1.5rem;
}

.optionalChild h2 {
    font-size: 4rem;
}

@media screen and (max-width: 768px) {
    .optionalChild img {
        display: none;
    }

    .imageSection {
        height: 40vh;
        margin-bottom: 20px;
    }

    .optionalChild {
        text-align: center;
    }

    .optionalChild h2 {
        font-size: 3rem;
    }
}

@media screen and (max-height: 945px) {
    .imageSection {
        margin-top: 100px;
    }
}